---
layout: default
---
<div class="post">
  <div class="post-info">
    {% if page.date %}
      <span>&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  {{ content }}
</div>
{% if page.comments %}
  <script src="https://giscus.app/client.js"
          data-repo="Daveintheshack/daveintheshack.github.io"
          data-repo-id="R_kgDOUGiGVw"
          data-category="Comments"
          data-category-id="DIC_kwDOUGiGV84DEYuF"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="noborder_light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}
<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
</div>
